html, button {
    font-family: 'robotoregular', sans-serif;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'roboto_slabbold', serif;
    font-weight: normal;
}

a, a:visited {
    color: #f1c40f;
    text-decoration: none;
}

a:hover, a:active {
    color: #f39c12;
}

html, body {
    height: 100%;
    //background: #1abc9c;
    background: #8e44ad;
    color: #ecf0f1;
    margin: 0;
}

:focus {
    outline: none;
}

.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -10em; /* the bottom margin is the negative value of the footer's height */
}

#header {
}
#header #logo {
    max-width: 100%;
    padding: 3em;
    padding-bottom: 0;
}

#container {
    width: 900px;
    padding: 1em;
    max-width: 100%;
    margin: auto;
    margin-bottom: 2em;
}

.tile-box {
    background: #f1c40f;
}

a.big-button-link, a.small-button-link, a.narrow-button-link {
    margin: 1em 1em 1em 0;
    background: #f1c40f;
    color: #ecf0f1;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: .5em;
}

a.big-button-link, a.small-button-link {
    margin: 1em auto;
    display: block;
}

a.narrow-button-link {
    font-size: 1.2em;
    width: 8em;
    display: inline-block;
}

a.narrow-button-link span {
    margin: 0;
    padding: 0;
}

a.small-button-link {
    font-size: 1em;
    width: 12em
}
a.small-button-link.floater {
    float: left;
    width: 25%;
    padding:0;
    margin: 0;
    height: 3em;
}
a.small-button-link.floater span {
    //border:1px solid red;
    display: inline-block;
    margin: .75em .5em;
}

a.big-button-link {
    font-size: 1.5em;
    width: 9em;
}

a.nav-link {
    margin: 1em 1em 1em 0;
    font-size: 1.2em;
    font-weight: bold;
    //color: #ecf0f1;
    text-decoration: none;
}

a.nav-link:hover, a.nav-link:active {
    //color: #f1c40f;
}

a.big-button-link:hover, a.small-button-link:hover, a.narrow-button-link:hover, a.big-button-link:active, a.small-button-link:active, a.narrow-button-link:active {
    background: #f39c12;
}

button[type=submit], .test-button {
    margin: 1em 1em 1em 0;
    background: #f1c40f;
    color: #ecf0f1;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: .5em;
    font-size: 1.2em;
    width: 9em;
    display: inline-block;
    border: none;
}

button[type=submit]:hover, button[type=submit]:active, .test-button:hover, .test-button:active {
    background: #f39c12;
}

button[disabled], button[disabled]:hover {
    background: #7f8c8d;
}

.genre {
    color: #bdc3c7;
    font-size: 0.95em;
}

h1.centered {
    text-align: center;
}

.blurb-space {
    background: #ecf0f1;
    width: 100%;
    color: #000;
    padding: 2em;
    margin-bottom: 3em;
 }

.blurb-space h1 {
    margin-top: 0;
}

.breaker {
    clear: both;
}

.push {
	height: 10em; /* .push must be the same height as .footer */
}

.footer {
    height: 9em;
    background: #9b59b6;
}

.footer-content {

    width: 900px;
    max-width: 100%;
    margin: auto;
    //border: 1px solid red;
}

.footer-content p {
    text-align: center;
}

.footer-list {
    text-align: center;
    padding: 1.5em 0 .5em 0;
}

.footer-list li {
    display: inline;
    padding: 0 .5em;
    list-style: none;
}

.footer-list li a, .footer-list li a:visited {
    color: #ecf0f1;
    text-decoration: none;
}

.footer-list li a:hover, .footer-list li a:active {
    color: #f1c40f;
}

.nav-bar li {
    padding: 0 1em;
}