{% extends "blurber/base.html" %}

{% block content %}

    <a class="narrow-button-link" href="{% url 'index' %}">
        <span><i class="fa fa-arrow-left fa-fw"></i> Go Back</span>
    </a>

    <h2>How it works</h2>

    <p>Amazon sells millions of different books, each of which comes with a blurb. We pulled together thousands of books from these vast depths and analyzed their contents, all to save you the trouble of reading them yourselves. We used a technique called <a href="http://en.wikipedia.org/wiki/Markov_chain">Markov chains</a> to generate guesses of what words will come next in a sequence. String these predictions together and you come up with something surprisingly coherent and usually humorous.</p>
    <p>If you're interested in seeing more precisely what we did for this project, you can check out all of the source code on <a href="https://github.com/jtebert/blurber">Github</a>. (And please excuse its state of disarray; remember that the whole thing was written in less than two days and mostly fueled by caffeine, sugar, and salt.)</p>

    <h2>How you can use it</h2>

    <p>Make funny blurbs for the lolz. Use it as inspiration for something you're writing. Take advantage of the nifty "Save Link" feature we took the effort to add to share your most awesome blurb discoveries with your friends.</p>

    <p>You can also create blurbs to use any way you please by taking advantage of our API. You can read more about it <a href="https://github.com/jtebert/blurber">in the Github documentation</a>.</p>

    <h2>Who we are</h2>

    <p>This app was created under the auspices of <a href="http://hackbeanpot.com/">HackBeanpot 2015</a> by Julia Ebert, Mustafa Camurcu, and Shreyas Mahimkar. If you have questions, comments, or suggestions about the project, let us know </p>

{% endblock %}