
{% extends "blurber/base.html" %}


{% block content %}
    <p>Have you ever wanted to read about a book that doesn't exist? </p>
    <p>Now you can! Just pick a genre and you'll receive a probably-but-not-guaranteed-to-be unique book blurb, built on descriptions of real, live, <i>actual</i> books. If you're feeling particularly ambitious, for extra credit you can go ahead and write the book you get a blurb for.</p>
    <div class="box">
        <h1>Make a random blurb:</h1>
        <a href="#" class="big-button-link">Random Blurb</a>
    </div>
    <div class="box">
        <h1>Pick a genre:</h1>
        <!--Programatically generate these from the DB
        <a href="#" class="small-button-link">Science Fiction & Fantasy</a>
        <a href="#" class="small-button-link">Romance</a>
        <a href="#" class="small-button-link">Self Help</a>-->

        {% for genre_id, genre_name in genre_dict.items %}
            <a href="{% url 'blurb:genre_blurb' pk=genre_id %}" class="small-button-link">{{ genre_name }}</a>
        {% endfor %}

    </div>
    <div class="breaker"></div>
{% endblock %}