{% extends "blurber/base.html" %}

{% block content %}

<form class="blurb_actions" method="POST" action="">
    {% csrf_token %}

    <!--<input type="hidden" name="title" value="{{ title }}"/>
    <input type="hidden" name="author" value="{{ author }}"/>
    <input type="hidden" name="descr" value="{{ descr }}"/>
    <input type="hidden" name="genre" value="{{ genre_str }}"/>-->

    <a class="narrow-button-link" href="{% url 'index' %}">
        <span><i class="fa fa-arrow-left fa-fw"></i> Go Back</span>
    </a>

    <button type="submit" name="new_blurb">
        <i class="fa fa-star fa-fw"></i> New Blurb
    </button>
    <button type="submit" name="save_blurb">
        <i class="fa fa-link fa-fw"></i> Link to Blurb
    </button>

    {{ form.as_p }}

</form>

    <h1>{{ title }}</h1>
    <h3>by {{ author }}</h3>
    <p>{{ descr }}</p>
    <p class="genre"><i>Genre: {{ genre_str }}</i></p>

{% endblock %}