
{% extends "blurber/base.html" %}


{% block content %}
    <p>Fixie nisi biodiesel, aliquip roof party fugiat et pop-up consectetur deserunt chillwave bicycle rights pork belly. IPhone YOLO lo-fi, Banksy cardigan retro ex sapiente fashion axe. Flannel proident four dollar toast church-key deep v butcher. Bushwick Tumblr tempor gluten-free pug, next level tattooed.</p>
    <div class="box">
        <h1>Make a random blurb:</h1>
        <a href="#" class="big-button-link">Random Genre</a>
        <a href="#" class="big-button-link">All Genres</a>
    </div>
    <div class="box">
        <h1>Pick a category:</h1>
        <!--Programatically generate these from the DB-->
        <a href="#" class="small-button-link">Science Fiction & Fantasy</a>
        <a href="#" class="small-button-link">Romance</a>
        <a href="#" class="small-button-link">Self Help</a>
    </div>
{% endblock %}